* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
}

.header {
    background-color: #f6b0a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.items {
    display: flex;
    min-height: calc(100vh - 180px);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 60%;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.heading {
    background-color: #f78f7f;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.article {
    background-color: #d4c6d8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.aside {
    background-color: #c3cff7;
}

.footer {
    background-color: #f6b0a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}