*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f9ab9a;
    display: flex;
    padding: 20px 80px;
    justify-content: center;
}

.nav {
    background-color: aqua;
    display: flex;
    padding: 20px 80px;
    justify-content: center;
}

.section {
    display: flex;
    text-align: center;
}

.section_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: calc(100vh - 180px);
    padding: 20px;
    background-color: green;
}

.section_items .section_item.heading {
    background-color: red;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.section_items .section_item.article {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    width: 100%;
    height: 100%;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vh - 180px);
}

.footer {
    display: flex;
    background-color: bisque;
    padding: 20px 80px;
    justify-content: center;
}