*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f9ab9a;
    display: flex;
    padding: 20px 80px;
    justify-content: center;
}

.nav {
    background-color: aqua;
    display: flex;
    padding: 20px 80px;
    justify-content: center;
}

.section {
    display: flex;
    padding: 20px 80px;
    justify-content: center;
}

.section_items {
    width: calc(100% - 80px);
    justify-content: center;
}

.section_item {
    display: flex;
}

.aside {
    display: flex;
    width: calc(100% - 80px);
    justify-content: center;
}

.footer {
    display: flex;
    background-color: bisque;
    padding: 20px 80px;
    justify-content: center;
}